body{
    background-image: url(wall.mp4);
    background-color: black;
    height: 200vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


@keyframes glide {
0% {
    transform: translateX(0);
    text-shadow: 0px 5px 100px  #f5010d;
  }
  50% {
    transform: translateY(10px);
    text-shadow: 0px 0px 100px  #f302e6;
  }
  100% {
    transform: translateX(0);
    text-shadow: 0px 5px 100px  #e60000;
  }
}
#Home{
  height: 100vh;
  width: 100vw;
}
#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;   
  z-index: -1;  
  min-width: 100%;
  min-height: 100%;
 
}
.screen{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    z-index: -1;
   
    margin-top: 0%;
    position: absolute;
    top:0%;
    bottom:0%;
    

    

}



.content h1{
 font-family: 'Bebas Neue', sans-serif;
  font-size: 8em;
  color: #fff;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  top: 20vh;
  position: relative;
  text-shadow:  0 0 3px #00eaff, 0 0 100px #00aaff,0 0 100px #d760eed4;
  animation: glide 4s infinite ease-in-out;
  z-index: 1;
}


.box{
    position: relative;
    top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(121, 255, 255);
    
    
    
    height: 40vh;
    width: 70vw;
    margin: 0 auto;
    /* border:  6px solid; */
    flex-direction: column;
    font-weight: bold;
    background-image: repeating-radial-gradient();
    font-size: 1.5em;

    /* border-image: linear-gradient(45deg, #59015c, #9d0192) 1; */
    background-image: repeating-radial-gradient(circle, rgba(49, 0, 105, 0.3),rgba(0, 0, 0, 0.1));
    /* box-shadow: 0 0 10px rgba(248, 37, 118, 0.3), 0 0 20px rgba(0, 234, 255, 0.3); */
    animation: glide 4s infinite ease-in-out;
    
    border-radius: 500px;
    backdrop-filter: blur(2px);
     /* -webkit-backdrop-filter: blur(10px); */
     color: rgb(2, 196, 255);
    
    
}

#para{
   font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 1.5em;
  text-shadow: 0 0 50px rgba(0, 255, 255, 0.932);
}
.button a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.button
 {
  
  
  padding: 12px 30px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
 
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.4),
              0 0 20px rgba(0, 255, 255, 0.4);
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}


.button:hover {
  background: linear-gradient(90deg, #00ffae, #00ffff);
  color: #000;
  border-color: transparent;
  box-shadow: 0 0 25px rgba(255, 0, 255, 0.8),
              0 0 45px rgba(0, 255, 255, 0.6);
 
}




#Anime{
  height: 100%;
  width: 100%;
  background-color: #000;
}
